{% load i18n %}{% autoescape off %}
{% blocktranslate %}This email is being sent as a result to a password reset request at {{ site_name }}.{% endblocktranslate %}

{% translate "Please follow the link below to the password reset form page and create a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten is:' %} {{ user.get_username }}

{% translate "Thank you for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}